@import url(https://fonts.googleapis.com/css?family=Raleway:400,900);

:root {
  --font1: 'Raleway', sans-serif;
  --font2: 'Playfair Display', serif;
  --purple: #E5BBFF;
  --blue: #0088CC;
  --whiteblue: #F6F6FF;
}

body {
  font-family: var(--font1);
  background-color: var(--whiteblue) !important;
  position: relative;
  height: 100vh;
}
h1 {
  margin: 1em 0;
  font-family: var(--font2);
  text-align: center;
  font-weight: bold;
}

h1::after {
  display: block;
  height: 2px;
  background-color: var(--blue);
  width: 60px;
  content: '';
  margin: 10px auto;
}

h1 {
    text-align: center;
    
}
.grid-container {
    display:grid;
    column-gap:30px;
    padding:20px;
    grid-template-columns: auto auto;
    align-items: center;
}
.grid-container-small-gap {
    display:grid;
    column-gap:10px;
    padding:10px;
    grid-template-columns: auto auto;
}
.grid-item {
    text-align:center;
    padding:10px;
}
.btn {
    border:2 solid var(--blueTheme);
    background-color:var(--blueTheme);
    color:white;
    padding:15px 50px;
    font-size:16px;
    cursor: pointer;
    border-radius: 25px;
    font-family: var(--font1);
    font-weight: bold;
}
.result {
    text-align: center;
    font-family: var(--font1);
    font-size:20px;
}

.editable {
    font-family: var(--font2);
    width: 400px;
    height: 200px;
    border: 1px solid #ccc;
    resize: both;
    overflow: auto;
    padding:2px;
    
  }