@import url(https://fonts.googleapis.com/css?family=Raleway:400,900);
:root {
    --font1: 'Raleway', sans-serif;
    --font2: 'Playfair Display', serif;
    --blueTheme:#0088CC;
}

hr.short {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 40%;
    margin-right: 40%; 
    align-items: center;
    background-color:var(--blueTheme);
    border-style: solid;
    border-color:var(--blueTheme);

}

hr.long {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 15%;
    margin-right: 15%; 
    align-items: center;
    background-color:var(--blueTheme);
    border-style: solid;
    border-color:var(--blueTheme);

}

h1 {
    text-align: center;
    
}
.grid-container {
    display:grid;
    column-gap:30px;
    padding:20px;
    grid-template-columns: auto auto;
    align-items: center;
}
.grid-container-small-gap {
    display:grid;
    column-gap:10px;
    padding:10px;
    grid-template-columns: auto auto;
}
.grid-item {
    text-align:center;
    padding:10px;
}
.btn {
    border:2 solid var(--blueTheme);
    background-color:var(--blueTheme);
    color:white;
    padding:15px 50px;
    font-size:16px;
    cursor: pointer;
    border-radius: 25px;
    font-family: var(--font1);
    font-weight: bold;
}
.result {
    text-align: center;
    font-family: var(--font1);
    font-size:20px;
}

.editable {
    font-family: var(--font2);
    width: 400px;
    height: 200px;
    border: 1px solid #ccc;
    resize: both;
    overflow: auto;
    padding:2px;
    
  }